body {
    background-color: rgb(0, 0, 0);
    background-image: url("https://farm5.staticflickr.com/4582/38036784054_6825196b3e_o.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
hr {
    padding: 0px;
    margin: 0px;
}